In [1]:
#installing spark
!pip install Spark

Requirement already satisfied: Spark in c:\users\amanka5\anaconda3\lib\site-packages (0.2.1)

In [2]:
#installing pyspark 
!pip install pyspark
!pip install findspark

Requirement already satisfied: pyspark in c:\users\amanka5\anaconda3\lib\site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\amanka5\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)
Requirement already satisfied: findspark in c:\users\amanka5\anaconda3\lib\site-packages (2.0.1)

In [3]:
#importing spark
from pyspark.shell import spark

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 3.3.0
      /_/

Using Python version 3.9.12 (main, Apr  4 2022 05:22:27)
Spark context Web UI available at http://TS-STUDENT-5016.hsd1.il.comcast.net:4040
Spark context available as 'sc' (master = local[*], app id = local-1667693707278).
SparkSession available as 'spark'.

In [4]:
#importing pyspark and pandas
import pyspark
import pandas as pd

In [5]:
# Installing findspark - a python library to find Spark
!pip install -q findspark

In [6]:
##Create spark session
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql import SparkSession

In [7]:
import os
os.environ["JAVA_HOME"] = "C:/Program Files/Java/jdk1.8.0_341-amd64"
os.environ["SPARK_HOME"] = "C:/Users/amanka5/Spark/spark-3.3.0-bin-hadoop2"

# STEP 1

In [8]:
#Step 1: Find out the users who are active in at least five listed days (i.e., created posts in at least 5 days)
# in Amazon_Responded_Oct05.csv and save their “user_screen_name” and “user_id_str” 
 #   in the dataframe “daily_active_users” (see below). Report how many active users you find

In [9]:
#Loading the Amazon_Responded CSV file
data = spark.read.csv('C:/Users/amanka5/Desktop/Amazon_Responded_Oct05.csv', header = True, multiLine=True)
data.show()

+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+-------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
|              id_str|    tweet_created_at|user_screen_name|user_id_str|user_statuses_count|user_favourites_count|user_protected|user_listed_count|user_following|    user_description|user_location|user_verified|user_followers_count|user_friends_count|     user_created_at|tweet_language|               text_|favorite_count|favorited|in_reply_to_screen_name|in_reply_to_status_id_str|in_reply_to_user_id_str|retweet_count|retweeted|                text|
+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+-------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
|'793270689780203520'|Tue Nov 01 01:57:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp Can y...|             0|    False|             AmazonHelp|                     null|               85741735|            0|    False|                null|
|'793281386912354304'|Tue Nov 01 02:39:...|      AmazonHelp|   85741735|            2225450|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149569|                53|Wed Oct 28 04:17:...|            en|@SeanEPanjab I'm ...|             0|    False|            SeanEPanjab|     7.932706897802035...|              143515471|            0|    False|                null|
|'793501578766319616'|Tue Nov 01 17:14:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp It wa...|             0|    False|             AmazonHelp|     7.932813869123543...|               85741735|            0|    False|@AmazonHelp It wa...|
|'793501657346682880'|Tue Nov 01 17:15:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp I am ...|             0|    False|             AmazonHelp|     7.932813869123543...|               85741735|            0|    False|                null|
|'793502854459879424'|Tue Nov 01 17:19:...|      AmazonHelp|   85741735|            2225450|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149569|                53|Wed Oct 28 04:17:...|            en|@SeanEPanjab Plea...|             0|    False|            SeanEPanjab|     7.935015787663196...|              143515471|            0|    False|@SeanEPanjab Plea...|
|'793504235400884224'|Tue Nov 01 17:25:...|      AmazonHelp|   85741735|            2225450|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149569|                53|Wed Oct 28 04:17:...|            en|@SeanEPanjab With...|             0|    False|            SeanEPanjab|     7.935016573466829...|              143515471|            0|    False|                null|
|'793511847899070465'|Tue Nov 01 17:55:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp It wa...|             0|    False|             AmazonHelp|     7.935042354008842...|               85741735|            0|    False|                null|
|'793511899279208449'|Tue Nov 01 17:55:...|     SeanEPanjab|  143515471|              51287|                 4079|         False|               74|         False|Content marketer;...|   غریب الوطن|        False|                1503|               850|Thu May 13 17:43:...|            en|@AmazonHelp if it...|             0|    False|             AmazonHelp|     7.935042354008842...|               85741735|            0|    False|                null|
|'793513446633533440'|Tue Nov 01 18:02:...|      AmazonHelp|   85741735|            2225450|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149569|                53|Wed Oct 28 04:17:...|            en|@SeanEPanjab I'm ...|             0|    False|            SeanEPanjab|     7.935118992792084...|              143515471|            0|    False|@SeanEPanjab I'm ...|
|'793299404975247360'|Tue Nov 01 03:51:...|   aakashwangnoo|   71457972|                592|                  471|         False|               11|         False|Don't try to be G...|    New Delhi|        False|                 234|                57|Fri Sep 04 04:55:...|            en|@JeffBezos @amazo...|             0|    False|              JeffBezos|                     null|               15506669|            0|    False|                null|
|'793301295255945216'|Tue Nov 01 03:59:...|      AmazonHelp|   85741735|            2225442|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149568|                53|Wed Oct 28 04:17:...|            en|@aakashwangnoo Hi...|             0|    False|          aakashwangnoo|     7.932994049752474...|               71457972|            0|    False|                null|
|'793407430344310785'|Tue Nov 01 11:00:...|   aakashwangnoo|   71457972|                592|                  471|         False|               11|         False|Don't try to be G...|    New Delhi|        False|                 234|                57|Fri Sep 04 04:55:...|            en|@AmazonHelp How m...|             0|    False|             AmazonHelp|     7.933012952559452...|               85741735|            0|    False|                null|
|'793423313674571776'|Tue Nov 01 12:03:...|      AmazonHelp|   85741735|            2225442|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149568|                53|Wed Oct 28 04:17:...|            en|@aakashwangnoo Hi...|             0|    False|          aakashwangnoo|     7.934074303443108...|               71457972|            0|    False|@aakashwangnoo Hi...|
|'793423314333134850'|Tue Nov 01 12:03:...|      AmazonHelp|   85741735|            2225442|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149568|                53|Wed Oct 28 04:17:...|            en|@aakashwangnoo Pl...|             0|    False|          aakashwangnoo|     7.934074303443108...|               71457972|            0|    False|                null|
|'793467086869630977'|Tue Nov 01 14:57:...|   aakashwangnoo|   71457972|                592|                  471|         False|               11|         False|Don't try to be G...|    New Delhi|        False|                 234|                57|Fri Sep 04 04:55:...|            en|@AmazonHelp @amaz...|             0|    False|             AmazonHelp|     7.934233143331348...|               85741735|            0|    False|                null|
|'793492430666498050'|Tue Nov 01 16:38:...|      AmazonHelp|   85741735|            2225442|                11366|         False|              796|         False|We answer Amazon ...|         null|         True|              149568|                53|Wed Oct 28 04:17:...|            en|@aakashwangnoo Hi...|             0|    False|          aakashwangnoo|     7.93467086869631e+17|               71457972|            0|    False|@aakashwangnoo Hi...|
|'793535036213501952'|Tue Nov 01 19:27:...|   aakashwangnoo|   71457972|                592|                  471|         False|               11|         False|Don't try to be G...|    New Delhi|        False|                 234|                57|Fri Sep 04 04:55:...|            en|@AmazonHelp @amaz...|             0|    False|             AmazonHelp|     7.93492430666498e+17|               85741735|            0|    False|                null|
|'793535221329113088'|Tue Nov 01 19:28:...|   aakashwangnoo|   71457972|                592|                  471|         False|               11|         False|Don't try to be G...|    New Delhi|        False|                 234|                57|Fri Sep 04 04:55:...|            en|@AmazonHelp @amaz...|             0|    False|          aakashwangnoo|     7.93535036213502e+17|               71457972|            0|    False|                null|
|'793537840533471232'|Tue Nov 01 19:38:...|   aakashwangnoo|   71457972|                592|                  471|         False|               11|         False|Don't try to be G...|    New Delhi|        False|                 234|                57|Fri Sep 04 04:55:...|            en|@AmazonHelp @amaz...|             0|    False|             AmazonHelp|     7.93492430666498e+17|               85741735|            0|    False|@AmazonHelp @amaz...|
|'793538125884645376'|Tue Nov 01 19:40:...|   aakashwangnoo|   71457972|                592|                  471|         False|               11|         False|Don't try to be G...|    New Delhi|        False|                 234|                57|Fri Sep 04 04:55:...|            en|@AmazonHelp @amaz...|             0|    False|          aakashwangnoo|     7.935378405334712...|               71457972|            0|    False|@AmazonHelp @amaz...|
+--------------------+--------------------+----------------+-----------+-------------------+---------------------+--------------+-----------------+--------------+--------------------+-------------+-------------+--------------------+------------------+--------------------+--------------+--------------------+--------------+---------+-----------------------+-------------------------+-----------------------+-------------+---------+--------------------+
only showing top 20 rows

In [10]:
#Considering only three columns- tweet_created_at, user_screen_name, user_id_str
data = data.select('tweet_created_at', 'user_screen_name', 'user_id_str')
data.show(5)

+--------------------+----------------+-----------+
|    tweet_created_at|user_screen_name|user_id_str|
+--------------------+----------------+-----------+
|Tue Nov 01 01:57:...|     SeanEPanjab|  143515471|
|Tue Nov 01 02:39:...|      AmazonHelp|   85741735|
|Tue Nov 01 17:14:...|     SeanEPanjab|  143515471|
|Tue Nov 01 17:15:...|     SeanEPanjab|  143515471|
|Tue Nov 01 17:19:...|      AmazonHelp|   85741735|
+--------------------+----------------+-----------+
only showing top 5 rows

In [11]:
#dropping the duplicate values
data.dropDuplicates().show(5)

+--------------------+----------------+-----------+
|    tweet_created_at|user_screen_name|user_id_str|
+--------------------+----------------+-----------+
|Tue Nov 01 19:27:...|   aakashwangnoo|   71457972|
|Tue Nov 01 12:09:...|      AmazonHelp|   85741735|
|Wed Nov 02 07:42:...|      AmazonHelp|   85741735|
|Tue Nov 01 18:31:...| robertcaldecott|  175322072|
|Tue Nov 01 20:48:...|      AmazonHelp|   85741735|
+--------------------+----------------+-----------+
only showing top 5 rows

In [12]:
#dropping duplicates values from user_screen_name & user_id_str columns
data.dropDuplicates(['user_screen_name', 'user_id_str']).show()

+--------------------+----------------+--------------------+
|    tweet_created_at|user_screen_name|         user_id_str|
+--------------------+----------------+--------------------+
| 2016"" @amazon W...|            null|                null|
| talk about TV/Mo...|            null|               False|
|               FedEx|          Ontrac| UPS in that order."|
|         even mobile|        for me."|                   0|
| 2016"" @amazon W...|               0|               False|
|Fri Feb 03 04:53:...|         005naga|           360050785|
|Sat Jul 29 20:18:...|  007varunsharma|           292912552|
|Fri Jan 27 00:11:...|    00GrlGamer00|            47723878|
|Mon Mar 27 17:34:...|  00clarkesville|            44862872|
|Tue Nov 08 18:49:...|      011jeanluc|           353404797|
|Tue Mar 28 18:21:...|   01jasonsteele|            26896789|
|Thu Mar 30 09:51:...|          091176|           140004270|
|Mon Jan 09 21:52:...|          0Apes0|            51038776|
|Sat Feb 25 17:06:...|           0MC18|            83912518|
|Fri Mar 17 15:16:...|           0Rouh|           596424187|
|Thu Nov 24 17:11:...|      0berhauser|           182295301|
|Sat Apr 15 07:46:...|            0hjc|           441213461|
|Thu Dec 01 22:48:...|    0x4E0x650x6F|           108572456|
|Sun May 21 02:27:...|          0xJAKE|          4146949275|
|Sun Apr 16 18:03:...|         0xtobit|            14211575|
+--------------------+----------------+--------------------+
only showing top 20 rows

In [13]:
from pyspark.sql import functions as psf

In [14]:
#Formatting the date

data1 = data.withColumn('tweet_created_at', psf.concat(data.tweet_created_at.substr(5, 6), data.tweet_created_at.substr(26, 5)))

data1 = data1.filter(data1.tweet_created_at.startswith("Jan") | data1.tweet_created_at.startswith("Feb") | data1.tweet_created_at.startswith("Mar") | data1.tweet_created_at.startswith("Apr") | data1.tweet_created_at.startswith("May") | data1.tweet_created_at.startswith("Jun") | data1.tweet_created_at.startswith("Jul") | data1.tweet_created_at.startswith("Aug") | data1.tweet_created_at.startswith("Sep") | data1.tweet_created_at.startswith("Oct") | data1.tweet_created_at.startswith("Nov") | data1.tweet_created_at.startswith("Dec"))

data1.groupby("tweet_created_at").count().show()
data1.show(5)

+----------------+-----+
|tweet_created_at|count|
+----------------+-----+
|     Dec 01 2016| 1998|
|     Dec 25 2016|  926|
|     Feb 08 2017| 2013|
|     Feb 19 2017| 1560|
|     Mar 30 2017| 2341|
|     Apr 26 2017|  696|
|     Dec 05 2016| 1865|
|     Dec 18 2016|  415|
|     Jul 06 2017| 1476|
|     Mar 20 2017| 1248|
|     May 28 2017|  354|
|     Jul 26 2017|   65|
|     Feb 22 2017| 2278|
|     Jun 29 2017| 1294|
|     Mar 13 2017| 1094|
|     Apr 24 2017|  532|
|     Jul 18 2017|  762|
|     Feb 17 2017|  379|
|     Jul 12 2017|  375|
|     Apr 12 2017|  591|
+----------------+-----+
only showing top 20 rows

+----------------+----------------+-----------+
|tweet_created_at|user_screen_name|user_id_str|
+----------------+----------------+-----------+
|     Nov 01 2016|     SeanEPanjab|  143515471|
|     Nov 01 2016|      AmazonHelp|   85741735|
|     Nov 01 2016|     SeanEPanjab|  143515471|
|     Nov 01 2016|     SeanEPanjab|  143515471|
|     Nov 01 2016|      AmazonHelp|   85741735|
+----------------+----------------+-----------+
only showing top 5 rows

In [15]:
data1.show(5)

+----------------+----------------+-----------+
|tweet_created_at|user_screen_name|user_id_str|
+----------------+----------------+-----------+
|     Nov 01 2016|     SeanEPanjab|  143515471|
|     Nov 01 2016|      AmazonHelp|   85741735|
|     Nov 01 2016|     SeanEPanjab|  143515471|
|     Nov 01 2016|     SeanEPanjab|  143515471|
|     Nov 01 2016|      AmazonHelp|   85741735|
+----------------+----------------+-----------+
only showing top 5 rows

In [16]:
#removing duplicates dates values
data1 = data1.dropDuplicates()

In [17]:
data1.select('user_screen_name', 'user_id_str').show()

+----------------+------------------+
|user_screen_name|       user_id_str|
+----------------+------------------+
|         YIF_JAK|          24787056|
|     SPWseventy7|        1675908295|
|  MW3GAMEUPDATES|          40573844|
| StrongenoughMW1|         391582041|
|    Linked2Steve|         144895933|
|     _GAMER_4421|        2504948270|
|  butchrosenberg|        1536789132|
|      EuricaeriS|          46162630|
|   Dogearedtatty|         716850865|
| HakimUjjainwala|         281911333|
|        aaminaxa|         100856463|
|        rksb1610|        3259730341|
|    Nataliejc777|        3377092467|
|        melbob30|         565729091|
|   LeanneCTaylor|          55693415|
|   Jsingh53Singh|798974954167554048|
|     beckyhirons|          19711802|
|    HollowFacade|741766918047203328|
|    white_mollie|         309757122|
|      lorijovest|          15778256|
+----------------+------------------+
only showing top 20 rows

In [18]:
#using groupby function
tweet_count = data1.select('user_screen_name', 'user_id_str').groupBy("user_screen_name").count()
tweet_count.show()

+----------------+-----+
|user_screen_name|count|
+----------------+-----+
|        MshahidK|    1|
|     CamNiblett1|    1|
|    avasthi_amit|    1|
|       Humanizli|    1|
|     violetxoxox|    1|
|   sameerali7864|    3|
|  KayKayThePanda|    2|
|   MrsSewellSays|    2|
|       rt_kapoor|    1|
|  KrishnaNand162|    2|
|    Dhritiman911|    1|
|       tarmcadam|    2|
|   asaduzair2001|    2|
|    jamesmadelin|    3|
|          hqp921|    1|
|  thatlaurachick|    3|
|   WhitwoodChloe|    2|
|     harshshah35|    1|
|     myinnerthin|    1|
|         Tutups_|    3|
+----------------+-----+
only showing top 20 rows

In [19]:
#Creating a dataframe "daily active users" 

daily_active_users = data1.groupBy(['user_screen_name', 'user_id_str']).count()

In [20]:
#considering users with at least 5 posts
daily_active_users = daily_active_users.filter("count >= 5")
daily_active_users = daily_active_users.select('user_screen_name','user_id_str')

In [21]:
daily_active_users.show(5)

+----------------+------------------+
|user_screen_name|       user_id_str|
+----------------+------------------+
|       SkullyRox|          20391647|
|   Gentlemen_Sam|         441572163|
|        remakoul|814372928695521280|
|  sky_regenrated|         483059773|
|          MtnrMS|        3309102108|
+----------------+------------------+
only showing top 5 rows

In [22]:
#Printing the number of daily active users, and count 

print("The number of daily active users is", daily_active_users.count())

The number of daily active users is 593

In [23]:
# Converting the daily_active_users output to csv
daily_active_users.toPandas().to_csv('C:/Users/amanka5/Desktop/daily_active_users.csv',index = False)


# # STEP 2

In [24]:
#A company would like to conduct an A/B test on Twitter.
#The experiment.txt file includes the user_id_str they selected as potential experiment targets. 
#Please create a dataframe “experiment_user” to document the selected user id 
#and whether they are active users (join the dataframe from step 1). For example:

In [25]:
##Importing the experiment.txt file

experiment_data = spark.read.csv('C:/Users/amanka5/Desktop/experiment.csv', header = False, multiLine=True)
experiment_data.show()

+----------+
|       _c0|
+----------+
| 143515471|
|  85741735|
|  71457972|
|2908108256|
| 106799492|
|  59156981|
| 902137872|
| 110354554|
|  97424433|
|  62364020|
|2706101936|
|   5654472|
| 145579921|
|2502172122|
| 243716471|
|2610379644|
| 123138418|
| 257376764|
| 269145593|
| 370711133|
+----------+
only showing top 20 rows

In [26]:
#renaming the column '_c0'
experiment_data = experiment_data.withColumnRenamed("_c0", "user_id_str2")
experiment_data.show(5)

+------------+
|user_id_str2|
+------------+
|   143515471|
|    85741735|
|    71457972|
|  2908108256|
|   106799492|
+------------+
only showing top 5 rows

In [27]:
#joining the dataframe experiment_data with daily_active_users from step 1
join_data = experiment_data.join(daily_active_users, daily_active_users.user_id_str == experiment_data.user_id_str2, how = 'left')

In [28]:
join_data.show()

+------------+----------------+-----------+
|user_id_str2|user_screen_name|user_id_str|
+------------+----------------+-----------+
|   106799492|            null|       null|
|  2610379644|            null|       null|
|    62364020|            null|       null|
|   123138418|            null|       null|
|  2908108256|            null|       null|
|   143515471|            null|       null|
|    97424433|            null|       null|
|  2706101936|            null|       null|
|  1510968974|            null|       null|
|   110354554| praveen_pandey_|  110354554|
|  2502172122|            null|       null|
|   243716471|            null|       null|
|    59156981|            null|       null|
|    71457972|            null|       null|
|   257376764|            null|       null|
|     5654472|            null|       null|
|    85741735|      AmazonHelp|   85741735|
|   370711133|            null|       null|
|   145579921|            null|       null|
|   902137872|     mybharatraj|  902137872|
+------------+----------------+-----------+
only showing top 20 rows

In [29]:
#checking the joined columns
join_data1 = join_data.select('user_id_str', 'user_id_str2')
join_data1.show()

+-----------+------------+
|user_id_str|user_id_str2|
+-----------+------------+
|       null|   143515471|
|   85741735|    85741735|
|       null|    71457972|
|       null|  2908108256|
|       null|   106799492|
|       null|    59156981|
|  902137872|   902137872|
|  110354554|   110354554|
|       null|    97424433|
|       null|    62364020|
|       null|  2706101936|
|       null|     5654472|
|       null|   145579921|
|       null|  2502172122|
|       null|   243716471|
|       null|  2610379644|
|       null|   123138418|
|       null|   257376764|
|       null|   269145593|
|       null|   370711133|
+-----------+------------+
only showing top 20 rows

In [30]:
from pyspark.sql.functions import col, expr, when

#selecting user ids and seperating them based on their activity status
experiment_user = join_data1.withColumn("whether_active", when(col("user_id_str").isNull(),"No").otherwise("Yes")).drop("user_id_str")

experiment_user.show()

+------------+--------------+
|user_id_str2|whether_active|
+------------+--------------+
|   143515471|            No|
|    85741735|           Yes|
|    71457972|            No|
|  2908108256|            No|
|   106799492|            No|
|    59156981|            No|
|   902137872|           Yes|
|   110354554|           Yes|
|    97424433|            No|
|    62364020|            No|
|  2706101936|            No|
|     5654472|            No|
|   145579921|            No|
|  2502172122|            No|
|   243716471|            No|
|  2610379644|            No|
|   123138418|            No|
|   257376764|            No|
|   269145593|            No|
|   370711133|            No|
+------------+--------------+
only showing top 20 rows

In [31]:
#renaming the column 'user_id_str2'
experiment_data = experiment_data.withColumnRenamed("user_id_str2", "user_id_str")

In [32]:
#check the experiment_user 
experiment_user.show(5)

+------------+--------------+
|user_id_str2|whether_active|
+------------+--------------+
|   143515471|            No|
|    85741735|           Yes|
|    71457972|            No|
|  2908108256|            No|
|   106799492|            No|
+------------+--------------+
only showing top 5 rows

In [33]:
# Converting the final output to csv
experiment_user.toPandas().to_csv('C:/Users/amanka5/Desktop/experiment_user.csv',index = False)

In [34]:
print("The number of total experiment_user is", experiment_user.count(),".")

The number of total experiment_user is 5000 .

In [35]:
#Calculate the percentage of active user and print out the result.

In [36]:
#count & take the active user's percentage
dfm = experiment_user.groupBy('whether_active').count()
dfm.show()

+--------------+-----+
|whether_active|count|
+--------------+-----+
|            No| 4885|
|           Yes|  115|
+--------------+-----+

In [37]:
active_users = dfm.select("count").agg({"count": "sum"}).collect().pop()['sum(count)']
result = dfm.withColumn('percent', (dfm['count']/active_users) * 100)
result.show()

+--------------+-----+-------+
|whether_active|count|percent|
+--------------+-----+-------+
|            No| 4885|   97.7|
|           Yes|  115|    2.3|
+--------------+-----+-------+

# From above, the percentage of active user is 2.3%.

# Step 3: In homework 2, you have already known how to join 2 tables in spark. Now you are going to perform a 3-table join task.

In [49]:
#Loading the final_experiment CSV file

final_experiment = spark.read.csv('C:/Users/amanka5/Desktop/final_experiment1.csv',header=True)

In [50]:
final_experiment.show(5)

+-----------+----+--------------+----------------+
|user_id_str|info|whether_active|user_screen_name|
+-----------+----+--------------+----------------+
|   62364020|   F|          null|            null|
| 2706101936|   M|          null|            null|
|    5654472|   F|          null|            null|
|  145579921|   F|          null|            null|
| 2502172122|   M|          null|            null|
+-----------+----+--------------+----------------+
only showing top 5 rows

In [51]:
#joining the experiment_user dataframe with daily_active_user
join_data_final1 = experiment_user.join(daily_active_users, daily_active_users.user_id_str == experiment_user.user_id_str2, how = 'left')

In [52]:
join_data_final1.show(5)

+------------+--------------+----------------+-----------+
|user_id_str2|whether_active|user_screen_name|user_id_str|
+------------+--------------+----------------+-----------+
|   143515471|            No|            null|       null|
|    85741735|           Yes|      AmazonHelp|   85741735|
|    71457972|            No|            null|       null|
|  2908108256|            No|            null|       null|
|   106799492|            No|            null|       null|
+------------+--------------+----------------+-----------+
only showing top 5 rows

In [53]:
#renaming the column

join_data_final1 = join_data_final1.withColumnRenamed("whether_active","final_whether_active").withColumnRenamed("user_screen_name","final_user_screen_name").withColumnRenamed("user_id_str","final_user_id_str")
join_data_final1.show()

+------------+--------------------+----------------------+-----------------+
|user_id_str2|final_whether_active|final_user_screen_name|final_user_id_str|
+------------+--------------------+----------------------+-----------------+
|   143515471|                  No|                  null|             null|
|    85741735|                 Yes|            AmazonHelp|         85741735|
|    71457972|                  No|                  null|             null|
|  2908108256|                  No|                  null|             null|
|   106799492|                  No|                  null|             null|
|    59156981|                  No|                  null|             null|
|   902137872|                 Yes|           mybharatraj|        902137872|
|   110354554|                 Yes|       praveen_pandey_|        110354554|
|    97424433|                  No|                  null|             null|
|    62364020|                  No|                  null|             null|
|  2706101936|                  No|                  null|             null|
|     5654472|                  No|                  null|             null|
|   145579921|                  No|                  null|             null|
|  2502172122|                  No|                  null|             null|
|   243716471|                  No|                  null|             null|
|  2610379644|                  No|                  null|             null|
|   123138418|                  No|                  null|             null|
|   257376764|                  No|                  null|             null|
|   269145593|                  No|                  null|             null|
|   370711133|                  No|                  null|             null|
+------------+--------------------+----------------------+-----------------+
only showing top 20 rows

In [54]:
#joining the final_experiment data with the above join

join_data_final2 = final_experiment.join(join_data_final1, final_experiment.user_id_str == join_data_final1.user_id_str2, how = 'left')

In [55]:
join_data_final2.show()

+-----------+----+--------------+----------------+------------+--------------------+----------------------+-----------------+
|user_id_str|info|whether_active|user_screen_name|user_id_str2|final_whether_active|final_user_screen_name|final_user_id_str|
+-----------+----+--------------+----------------+------------+--------------------+----------------------+-----------------+
| 1112166661|   F|          null|            null|  1112166661|                  No|                  null|             null|
| 1209614366|   M|          null|            null|  1209614366|                  No|                  null|             null|
|  123138418|   M|          null|            null|   123138418|                  No|                  null|             null|
|  145579921|   F|          null|            null|   145579921|                  No|                  null|             null|
| 1510968974|   F|          null|            null|  1510968974|                  No|                  null|             null|
|  163413904|   F|          null|            null|   163413904|                  No|                  null|             null|
|   16980347|   M|          null|            null|    16980347|                  No|                  null|             null|
| 1970607968|   M|          null|            null|  1970607968|                  No|                  null|             null|
|  243716471|   F|          null|            null|   243716471|                  No|                  null|             null|
| 2502172122|   M|          null|            null|  2502172122|                  No|                  null|             null|
|  257376764|   F|          null|            null|   257376764|                  No|                  null|             null|
| 2610379644|   M|          null|            null|  2610379644|                  No|                  null|             null|
|  269145593|   M|          null|            null|   269145593|                  No|                  null|             null|
| 2706101936|   M|          null|            null|  2706101936|                  No|                  null|             null|
| 3285473358|   F|          null|            null|  3285473358|                 Yes|          iwritegarima|       3285473358|
| 3526380922|   M|          null|            null|  3526380922|                  No|                  null|             null|
|  370711133|   F|          null|            null|   370711133|                  No|                  null|             null|
|  422175328|   M|          null|            null|   422175328|                  No|                  null|             null|
|  447433286|   F|          null|            null|   447433286|                  No|                  null|             null|
|    5654472|   F|          null|            null|     5654472|                  No|                  null|             null|
+-----------+----+--------------+----------------+------------+--------------------+----------------------+-----------------+
only showing top 20 rows

In [56]:
#considering only 4 columns and dropping remaining one
final_columns = join_data_final2.drop("whether_active","user_screen_name","user_id_str2","final_user_id_str")
final_columns.show()

+-----------+----+--------------------+----------------------+
|user_id_str|info|final_whether_active|final_user_screen_name|
+-----------+----+--------------------+----------------------+
| 1112166661|   F|                  No|                  null|
| 1209614366|   M|                  No|                  null|
|  123138418|   M|                  No|                  null|
|  145579921|   F|                  No|                  null|
| 1510968974|   F|                  No|                  null|
|  163413904|   F|                  No|                  null|
|   16980347|   M|                  No|                  null|
| 1970607968|   M|                  No|                  null|
|  243716471|   F|                  No|                  null|
| 2502172122|   M|                  No|                  null|
|  257376764|   F|                  No|                  null|
| 2610379644|   M|                  No|                  null|
|  269145593|   M|                  No|                  null|
| 2706101936|   M|                  No|                  null|
| 3285473358|   F|                 Yes|          iwritegarima|
| 3526380922|   M|                  No|                  null|
|  370711133|   F|                  No|                  null|
|  422175328|   M|                  No|                  null|
|  447433286|   F|                  No|                  null|
|    5654472|   F|                  No|                  null|
+-----------+----+--------------------+----------------------+
only showing top 20 rows

In [57]:
#Here Left join is used, to join the dataframes and to return all the rows from the dataframe and drop the null values if they are not matched.

In [59]:
# Converting the final output to csv
final_columns.toPandas().to_csv('C:/Users/amanka5/Desktop/final_experiment.csv',index = False)